
<!DOCTYPE html>
<html>
<head>
    {% load static %}

        <script src="{% static 'infiniplex_app/js/main.js' %}" defer></script>
        <link rel="stylesheet" href="{% static 'infiniplex_app/css/upload_csv.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Revision Keeper</title>
</head>
<body>
    <h1>Revision Keeper</h1>
<div class="search-container">
    <form method="GET" action="">
        <input type="text" name="patient_id_search" id="search-input" placeholder="Search for Patient ID."
               value="{{ request.GET.search|default:'' }}">
        <button type="submit">Search</button>
    </form>
</div>
        {% if form %}

        <div> Upload a New Outcome File </div>

        <div class="form-container">

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                    <div><button type="submit">Upload</button></div>

                </div>
            </form>
             {% if error_message %}
        <div class="error-message"> {{ error_message }}</div>
        {% endif %}

        </div>
    {% endif %}

    {% if success_message %}
        <div class="success-message"> {{ success_message }}</div>
    {% endif %}

<h2>Patients List</h2>
    <div class="sort-container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ sort_form.as_p }}
                <button id="sort-button" type="submit">Sort</button>

            </div>

        </form>

    </div>
    <table>
        <thead>
        <tr>
            <th style="width: 45px;" >
                <a class="sort-link" href="?sort=patient_id&order={% if sort_field == 'patient_id' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                   Patient ID
                </a>
            </th>
                <th>
                    <a class="sort-link" href="?sort=outcome&order={% if sort_field == 'outcome' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                    Outcome
                    </a>
                </th>
                <th style="width: 200px;">
                    <a class="sort-link" href="?sort=updated_at&order={% if sort_field == 'patient_id' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">
                    Updated At
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr class="{% if not patient.last_updated %}grey-row{% endif %}">
                    <td style="width: 45px;">{{ patient.patient_id }}</td>
                    <td>{{ patient.outcome }}</td>
                    <td style="width: 200px;">{{ patient.formatted_date  }}</td>

            </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No patients available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="rows-per-page">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ rows_form.as_p }}
        </div>
        </form>
</div>

<div class="pagination">
    {% if patients_page.has_previous %}
<button class="pagination_btn" onclick="window.location.href='?page={{ patients_page.previous_page_number }}'">&laquo; Previous </button>
    {% endif %}

    <label for="page-select">Go to page:</label>
    <select id="page-select" >
        {% for num in patients_page.paginator.page_range %}
            <option value="{{ num }}" {% if num == patients_page.number %}selected{% endif %}>
                Page {{ num }}
            </option>
        {% endfor %}
    </select>

    {% if patients_page.has_next %}
<button class="pagination_btn" onclick="window.location.href='?page={{ patients_page.next_page_number }}'">Next &raquo; </button>
    {% endif %}
</div>
</body>

</html>

